# SET

In [28]:
# set is a collection of unordered data items which can be of different data types
# it is defined in curly brackets {}
# all the elements in set are unique
# True ->1,False->0 is been considered as same
# it will consider the element which is first and delete the duplicate after it
# it will automatically sort the values randomly

In [3]:
a={0,1,2,3,True,False,"hello",3,3.5}

In [4]:
a

{0, 1, 2, 3, 3.5, 'hello'}

In [6]:
type(a)

set

In [12]:
l1=[1,2,2,3,6,7,8,1,True,False]

In [13]:
l1

[1, 2, 2, 3, 6, 7, 8, 1, True, False]

In [17]:
b=set(l1)

In [18]:
b

{False, 1, 2, 3, 6, 7, 8}

In [22]:
for i in b: 
    print(i)

False
1
2
3
6
7
8

# SET METHODS

## 1. ADD

In [24]:
# this will add an single element in the set
# ->> set.add(_)

In [25]:
a={1,8,6,59,47,"hello",False,78,20}

In [26]:
a.add(10)

In [27]:
a

{1, 10, 20, 47, 59, 6, 78, 8, False, 'hello'}

## 2. UPDATE

In [30]:
# this will add more than 1 element in the set
# ->> set.update([_,_])

In [31]:
a

{1, 10, 20, 47, 59, 6, 78, 8, False, 'hello'}

In [32]:
a.update([80,100,250])

In [33]:
a

{1, 10, 100, 20, 250, 47, 59, 6, 78, 8, 80, False, 'hello'}

## 3. LENGTH

In [34]:
# it will count the no. of elements in the set
# ->> len(set_)

In [35]:
len(a)

13

## 4. REMOVE

In [36]:
# it will remove the specified element from the set
# ->> set.remove(_)

In [37]:
a

{1, 10, 100, 20, 250, 47, 59, 6, 78, 8, 80, False, 'hello'}

In [38]:
a.remove("hello")

In [39]:
a

{False, 1, 6, 8, 10, 20, 47, 59, 78, 80, 100, 250}

## 5. POP

In [40]:
# it will remove any random element from the set
# set.pop()

In [41]:
a

{False, 1, 6, 8, 10, 20, 47, 59, 78, 80, 100, 250}

In [42]:
a.pop()

False

In [43]:
a

{1, 6, 8, 10, 20, 47, 59, 78, 80, 100, 250}

## 6. CLEAR

In [44]:
# it will delete the whole set
# ->> set.clear()

In [45]:
a

{1, 6, 8, 10, 20, 47, 59, 78, 80, 100, 250}

In [46]:
a.clear()

In [47]:
a

set()

In [48]:
len(a)

0

In [1]:
a={1,3,5,7,9}
b={1,2,3,4,6}

## 7. UNION

In [13]:
# this will add elements of both the set 
# it will not repeat any element even if it is common
# ->> set1.union(set2)

In [3]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 9}

## 8. INTERSECTION

In [6]:
# this will show only the common elements in both the set
# ->> set1.intersection(set2)

In [5]:
a.intersection(b)

{1, 3}

## 9. A-B (A EXCEPT B)

In [ ]:
# it will show elements of A but not which are also(common)in B
# ->> set1-set2

In [7]:
a-b

{5, 7, 9}

## 10. B-A (B EXCEPT A)

In [ ]:
# it will show elements of B but not which are also(common)in A
# ->> set2-set1

In [8]:
b-a

{2, 4, 6}

## 11. A^B (NON-COMMON)

In [12]:
# it will show elements which are not common in both the sets
# ->> set1^set2

In [10]:
a^b

{2, 4, 5, 6, 7, 9}